* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
}

.container {
    max-width: 45rem;
    margin: 18rem auto;
    padding: 4.8rem;
}

.main-content {
    background-color: hsl(0, 0%, 12%);
    border-radius: 1.5rem;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.2rem;
}

.name {
    color: hsl(0, 0%, 100%);
    font-size: 3.2rem;
    font-weight: 700;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}

.job {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 1.6rem;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.btn {
    height: 5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    transition: all 0.3s;
}

.btn:active,
.btn:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

@media (max-width: 29em) {
    .main-content {
        margin: 1.8rem;
    }
}
